<h3>Hi <%= @user.username %>,</h3>
</br>
<p>Our <%= link_to 'Terms of Service', pages_terms_of_service_url %> has been updated on <%= Time.zone.now.strftime("%m/%d/%Y") %>.
  Please take a moment to review the updated terms.
</p>
</br>
With love,</br>
http://youspoof.us
