<h3>Hi <%= @spoof.user.username %>,</h3>
</br>
<p>You just sent an anonymous spoofed text to <%= @spoof.number %> on
  <%= @spoof.created_at.strftime("%m/%d/%k") %>.  Remember you are bound by our
  terms of service.  In other words, don't f*ck up. Confirmation message_id: <%= @spoof.message_id %>
</p>
</br>
With love,</br>
http://youspoof.us
