<h3>Acceptable usage policy</h3>
<ul>
  <li>You will not use this service for any illegal activity including fraud, threats, stalking, or harassment.</li>
  <li>You will not use this service to transmit any illegal and/or copyrighted material</li>
  <li>If you are found to be in violation of this, we will report your IP address and information to the proper authorities</li>
</ul>
