<h3>Privacy Policy</h3>
<h5>What information does YouSpoof.us collect?</h5>
<ul>
  <li>User's full name</li>
  <li>User's valid email address</li>
  <li>User's IP address</li>
  <li>Target phone numbers that the User sends SMS to</li>
</ul>
<h5>How does YouSpoof.us use this information?</h5>
<ul>
  <li>Data analtytics</li>
  <li>Disclosure of data in the event of a court ordered or law enforcement subpoena for information</li>
  <li>We do not use your information for any marketing purposes</li>
  <li>YouSpoof.us will never sell or disclose your information to any 3rd party, ever!</li>
</ul>
