<h3>Terms of service</h3>
<ul>
  <li>By creating an account and using this service you agree to abide by our <%= link_to 'Acceptable Use Policy', pages_acceptable_use_policy_path %></li>
  <li>You agree to not hold us liable for any wrongful actions and/or violation of our policy</li>
  <li>The service is provided as is and makes no warranty or guarantee of service provided</li>
  <li>By creating an account you agree that you are at least 18 years of age or older</li>
  <li>Don't do illegal shit... We will give you up to the authorities</li>
</ul>
