<h3>Hi <%= @quotum.user.username %>,</h3>
</br>
<p>Your quota has been reset to <%= @quotum.sum %>.  You can now send more spoofs!
  Please be sure to abide by our terms of service.  In other words, don't f*ck up.
</p>
</br>
With love,</br>
http://youspoof.us
